/* general */

:root{
    --blue:#3A546D;
    --green:#1ABC9C;
    --darkblue:#2C3E50;
}

.darkblue-bg{
    background-color:var(--darkblue)
}

.green-bg{
    background-color:var(--green)
}
.blue-bg{
    background-color:var(--blue)
}

.txt-darkblue{
    color: var(--darkblue);
}

img{
    max-width:100%;
}

.custom-width{
    max-width:60%;
}

.circle{
    width:50px;
    height:50px;
    border:1px solid white;
    border-radius:50%;
}

/* header */

/* Sezione start bootstrap */

.img-container{
    max-width:50%;
    margin:0 auto;
}


h1{
    text-align:center;
}

.star-bar{
    min-height:50px;
}
.star-bar hr{
    width:20%;
    display:inline-block;
}



